In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv

In [ ]:

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

## ****Train Data****

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/dataset/train.csv",escapechar = "\\",quoting = csv.QUOTE_NONE)
df.head()

                                               TITLE  ... BROWSE_NODE_ID
0         Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1  The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2  The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3   Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4  Teacher Planner Company A4 6 Lesson Academic T...  ...              4

[5 rows x 5 columns]

## ****Test Data****

In [ ]:
test_df = pd.read_csv("/content/drive/MyDrive/dataset/test.csv",escapechar = "\\",quoting = csv.QUOTE_NONE)
test_df.head()

   PRODUCT_ID  ...           BRAND
0           1  ...         Command
1           2  ...          O'Neal
2           3  ...  Boelter Brands
3           4  ...       Panasonic
4           5  ...            Zero

[5 rows x 5 columns]

In [ ]:
test_df.isnull().sum()

PRODUCT_ID           0
TITLE                7
DESCRIPTION      10469
BULLET_POINTS     6786
BRAND             2430
dtype: int64

In [ ]:
test_df3 = test_df.replace(to_replace=np.nan,value=-1)
test_df3.isnull().sum()

PRODUCT_ID       0
TITLE            0
DESCRIPTION      0
BULLET_POINTS    0
BRAND            0
dtype: int64

In [ ]:
def replace_title_test_nan(df):
  for i in range(len(df.TITLE)):
    if df.TITLE[i] == -1:
      df.TITLE[i] = df.BULLET_POINTS[i]
  return df

In [ ]:
test_df3 = test_df.replace(to_replace=-1,value=np.nan)
test_df3.isnull().sum()

PRODUCT_ID           0
TITLE                7
DESCRIPTION      10469
BULLET_POINTS     6786
BRAND             2430
dtype: int64

In [ ]:
new_test = replace_title_test_nan(test_df3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
new_test = new_test.replace(to_replace=-1,value=np.nan)
new_test.isnull().sum()

PRODUCT_ID           0
TITLE                0
DESCRIPTION      10469
BULLET_POINTS     6786
BRAND             2430
dtype: int64

In [ ]:
new_test.to_csv("nulls_removed_test2.csv",index=False)

## ****Exploring Data****

In [ ]:
df.shape

(2903024, 5)

In [ ]:
df.isnull().sum()

TITLE                 71
DESCRIPTION       723664
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [ ]:
nulls = df.isnull().sum()

In [ ]:
def null_percentage(df):
  nulls = df.isnull().sum()
  for i,name in enumerate(df):
    if nulls[i] > 0:
      print(f"The percentage of null value in {name} is {(nulls[i]/df.shape[0])*100}")
    else:
      print("There are no null values")

In [ ]:
null_percentage(df)

The percentage of null value in TITLE is 0.00244572556065675
The percentage of null value in DESCRIPTION is 24.92793721305783
The percentage of null value in BULLET_POINTS is 5.72723477311934
The percentage of null value in BRAND is 1.9544102976758029

In [ ]:
df.TITLE[5]

"Men'S Full Sleeve Raglan T-Shirts Denim T-Shirt M Size Only"

In [ ]:
df.nunique()

TITLE             2751512
DESCRIPTION       1278942
BULLET_POINTS     1668898
BRAND              258265
BROWSE_NODE_ID       9919
dtype: int64

In [ ]:
df['BROWSE_NODE_ID'].unique()

array([      0,       1,       2, ..., 2847632, 2860317, 2893574])

In [ ]:
len(df['BROWSE_NODE_ID'].unique())

9919

In [ ]:
df.head()

,TITLE,DESCRIPTION,BULLET_POINTS,BRAND,BROWSE_NODE_ID
0,"Pete The Cat Bedtime Blues Doll, 14.5 Inch","Pete the Cat is the coolest, most popular cat ...","[Pete the Cat Bedtime Blues plush doll,Based o...",MerryMakers,0
1,"The New Yorker NYHM014 Refrigerator Magnet, 2 ...",The New Yorker Handsome Cello Wrapped Hard Mag...,[Cat In A Tea Cup by New Yorker cover artist G...,The New Yorker,1
2,The Ultimate Self-Sufficiency Handbook: A Comp...,NaN,Skyhorse Publishing,imusti,2
3,Amway Nutrilite Kids Chewable Iron Tablets (100),NaN,"[Nutrilite Kids,Chewable Iron Tablets,Quantity...",Amway,3
4,Teacher Planner Company A4 6 Lesson Academic T...,NaN,NaN,NaN,4

In [ ]:
df.TITLE

0                 Pete The Cat Bedtime Blues Doll, 14.5 Inch
1          The New Yorker NYHM014 Refrigerator Magnet, 2 ...
2          The Ultimate Self-Sufficiency Handbook: A Comp...
3           Amway Nutrilite Kids Chewable Iron Tablets (100)
4          Teacher Planner Company A4 6 Lesson Academic T...
                                 ...
2903019    Premium Aviator Sunglasses - HD Polarized (Bri...
2903020    Social Distance Stickers - Set of 5 Sticker Sl...
2903021    Torr-to Face Shield PACK OF 5 with Adjustable ...
2903022    Type-C to 3.5 MM for Oppo R17 Pro Type-C to 3....
2903023                          KNG Orange Polo Tshirt (38)
Name: TITLE, Length: 2903024, dtype: object

In [ ]:
len(df2.BROWSE_NODE_ID.unique())

9691

In [ ]:
df.head(10)

                                               TITLE  ... BROWSE_NODE_ID
0         Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1  The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2  The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3   Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4  Teacher Planner Company A4 6 Lesson Academic T...  ...              4
5  Men'S Full Sleeve Raglan T-Shirts Denim T-Shir...  ...              5
6              Glance Women's Wallet (Black) (LW-21)  ...              6
7  Wild Animals Hungry Brain Educational Flash Ca...  ...              7
8  Hindi Barakhadi Educational Flash Cards for Ki...  ...              7
9  Chapin 1380 Premier Pro 3-Gallon Tri-Poxy Stee...  ...              9

[10 rows x 5 columns]

In [ ]:
df[df.TITLE == "NaN"]

Empty DataFrame
Columns: [TITLE, DESCRIPTION, BULLET_POINTS, BRAND, BROWSE_NODE_ID]
Index: []

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903024 entries, 0 to 2903023
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   TITLE           object
 1   DESCRIPTION     object
 2   BULLET_POINTS   object
 3   BRAND           object
 4   BROWSE_NODE_ID  int64
dtypes: int64(1), object(4)
memory usage: 110.7+ MB

In [ ]:
df[df.isnull()]

        TITLE DESCRIPTION BULLET_POINTS BRAND  BROWSE_NODE_ID
0         NaN         NaN           NaN   NaN             NaN
1         NaN         NaN           NaN   NaN             NaN
2         NaN         NaN           NaN   NaN             NaN
3         NaN         NaN           NaN   NaN             NaN
4         NaN         NaN           NaN   NaN             NaN
...       ...         ...           ...   ...             ...
2903019   NaN         NaN           NaN   NaN             NaN
2903020   NaN         NaN           NaN   NaN             NaN
2903021   NaN         NaN           NaN   NaN             NaN
2903022   NaN         NaN           NaN   NaN             NaN
2903023   NaN         NaN           NaN   NaN             NaN

[2903024 rows x 5 columns]

In [ ]:
df.iloc[3]

TITLE              Amway Nutrilite Kids Chewable Iron Tablets (100)
DESCRIPTION                                                     NaN
BULLET_POINTS     [Nutrilite Kids,Chewable Iron Tablets,Quantity...
BRAND                                                         Amway
BROWSE_NODE_ID                                                    3
Name: 3, dtype: object

In [ ]:
df.iloc[2]

TITLE             The Ultimate Self-Sufficiency Handbook: A Comp...
DESCRIPTION                                                     NaN
BULLET_POINTS                                   Skyhorse Publishing
BRAND                                                        imusti
BROWSE_NODE_ID                                                    2
Name: 2, dtype: object

In [ ]:
df.iloc[1]

TITLE             The New Yorker NYHM014 Refrigerator Magnet, 2 ...
DESCRIPTION       The New Yorker Handsome Cello Wrapped Hard Mag...
BULLET_POINTS     [Cat In A Tea Cup by New Yorker cover artist G...
BRAND                                                The New Yorker
BROWSE_NODE_ID                                                    1
Name: 1, dtype: object

In [ ]:
df.DESCRIPTION[2] == "nan"

False

In [ ]:
df.isnull().sum()

TITLE                 71
DESCRIPTION       723664
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [ ]:
df[df.TITLE.isnull()]

        TITLE  ... BROWSE_NODE_ID
12687     NaN  ...           1254
39229     NaN  ...           3230
47841     NaN  ...            918
79427     NaN  ...          28876
133807    NaN  ...           2181
...       ...  ...            ...
2718215   NaN  ...            803
2730601   NaN  ...           1339
2797253   NaN  ...           1687
2816194   NaN  ...              4
2832274   NaN  ...             22

[71 rows x 5 columns]

In [ ]:
df[df.DESCRIPTION.isnull()]

                                                     TITLE  ... BROWSE_NODE_ID
2        The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3         Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4        Teacher Planner Company A4 6 Lesson Academic T...  ...              4
10       Slo-Niacin Polygel Controlled-Release Niacin, ...  ...             10
12       Yamaha PCMSKIT Portable Electronic Keyboard Ad...  ...             12
...                                                    ...  ...            ...
2902902                            Wooden 12 Glass Bedside  ...          10779
2902975          Fruit of the Loom Men's Brief (Pack of 2)  ...           1171
2902982  Oomph! Women’s Traditional Woven Polycotton Sa...  ...           1052
2902990   Mens Sports Terry Jacket Polyster (BLACL, Large)  ...            890
2903002  Protectify® Vivo S1 Shock Proof Ring Stand Bac...  ...           1045

[723664 rows x 5 columns]

In [ ]:
df[~df.DESCRIPTION.isnull()]

                                                     TITLE  ... BROWSE_NODE_ID
0               Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1        The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
5        Men'S Full Sleeve Raglan T-Shirts Denim T-Shir...  ...              5
6                    Glance Women's Wallet (Black) (LW-21)  ...              6
7        Wild Animals Hungry Brain Educational Flash Ca...  ...              7
...                                                    ...  ...            ...
2903019  Premium Aviator Sunglasses - HD Polarized (Bri...  ...           1040
2903020  Social Distance Stickers - Set of 5 Sticker Sl...  ...          15199
2903021  Torr-to Face Shield PACK OF 5 with Adjustable ...  ...        1044933
2903022  Type-C to 3.5 MM for Oppo R17 Pro Type-C to 3....  ...          14790
2903023                        KNG Orange Polo Tshirt (38)  ...           1213

[2179360 rows x 5 columns]

In [ ]:
df.head()

                                               TITLE  ... BROWSE_NODE_ID
0         Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1  The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2  The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3   Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4  Teacher Planner Company A4 6 Lesson Academic T...  ...              4

[5 rows x 5 columns]

In [ ]:
df3 = df.replace(to_replace=np.nan,value=-1)
df3.isnull().sum()

TITLE             0
DESCRIPTION       0
BULLET_POINTS     0
BRAND             0
BROWSE_NODE_ID    0
dtype: int64

In [ ]:
df3.head()

In [ ]:
df.TITLE.isnull().iloc[12687]

True

In [ ]:
def replace_title_nan(df):
  for i in range(len(df.TITLE)):
    if df.TITLE[i] == -1:
      df.TITLE[i] = df.DESCRIPTION[i]
  return df

In [ ]:
title_df = replace_title_nan(df3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
title_df.isnull().sum()

TITLE             0
DESCRIPTION       0
BULLET_POINTS     0
BRAND             0
BROWSE_NODE_ID    0
dtype: int64

In [ ]:
title_df[title_df.TITLE == -1]

        TITLE DESCRIPTION  ...               BRAND BROWSE_NODE_ID
494568     -1          -1  ...                  -1              4
962130     -1          -1  ...                  -1              4
972864     -1          -1  ...                  -1              4
1107014    -1          -1  ...                  -1           1409
1460540    -1          -1  ...           V3Squared              5
1732365    -1          -1  ...          Lightspeed          19947
1844151    -1          -1  ...                  -1              4
1961581    -1          -1  ...  VISHAL INDIA CRAFT              4
1983452    -1          -1  ...          BS EXPORTS           1084
2080564    -1          -1  ...                  -1              4
2497281    -1          -1  ...                  -1              4
2584359    -1          -1  ...                  -1              4
2816194    -1          -1  ...                  -1              4
2832274    -1          -1  ...              MEENAZ             22

[14 rows x 5 columns]

In [ ]:
df[df['BRAND'] == "MEENAZ"]

                                                     TITLE  ... BROWSE_NODE_ID
1451     MEENAZ Mangalsutra Jewellery Set Combo Gold Pl...  ...           1451
2002     MEENAZ Jewellery Gold Plated Pearl Jhumka Earr...  ...            803
2927     MEENAZ Jewellery Pendant Set for Women Girls/N...  ...            876
19797    MEENAZ Traditional Jewellery Gold Oxodised Cha...  ...           1149
22152    MEENAZ Fashion Jewellery Ear Rings Gold Stainl...  ...           1715
...                                                    ...  ...            ...
2875676  Meenaz Fancy Flower Ring Traditional Gold Ring...  ...             22
2886088  MEENAZ Maharashtrian Traditional Temple Jewell...  ...          16753
2890062  Ganesha Ganapati Pendant with Chain in God Pen...  ...          25444
2890080  MEENAZ Pendant Jewellery Set Combo Silver Plat...  ...            876
2891537  MEENAZ Jewellery Pendant Set for Women Girls/N...  ...            876

[359 rows x 5 columns]

In [ ]:
df[df['BRAND'] == "BS EXPORTS"]

                                                     TITLE  ... BROWSE_NODE_ID
51410         BS EXPORTS Cotton 210TC Bedsheet (King_Pink)  ...           1084
52552    BS EXPORTS 210 TC Twill Cotton Double Bedsheet...  ...           1084
141311   BS EXPORTS Cotton 210TC Pillow Cover (18"X27"_...  ...            108
212830       BS EXPORTS Cotton 210TC Bedsheet (King_White)  ...           1084
430039   BS EXPORTS 104 TC Jaipuri Traditional Elephant...  ...           1084
733574   BS EXPORTS Jaipuri Traditional Mandala 144 TC ...  ...           1084
1462402  BS EXPORTS Rangeela Rajasthan Cotton Queen Siz...  ...           1084
1505684  BS EXPORTS Ludo King Size Bed Sheets with Pill...  ...           1084
1587798  BS Exports Ahmadabad Checks 210 TC Double Bed ...  ...           1084
1690845  BS EXPORTS Cotton 144 TC Bedsheet (Black & Whi...  ...           1084
1836205  BS EXPORTS Luxurious 210 TC Striped Cotton Bed...  ...           1084
1983452                                                NaN  ...           1084
2146522      BS Exports Cotton 144TC Bedsheet (Twin_Cream)  ...           1084
2719521  BS EXPORTS Long Mustard Yellow Gown With Gotta...  ...           1251

[14 rows x 5 columns]

In [ ]:
df.isnull().sum()

TITLE                 71
DESCRIPTION       723664
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [ ]:
title_df.replace(-1,np.nan,inplace=True)

In [ ]:
title_df.drop('DESCRIPTION',axis=1,inplace=True)

In [ ]:
title_df.isnull().sum()

TITLE                 14
BULLET_POINTS     166263
BRAND              56737
BROWSE_NODE_ID         0
dtype: int64

In [ ]:
# title_df.replace(np.nan,-1,inplace=True)

In [ ]:
# new_df = title_df.dropna(subset=["DESCRIPTION"])
# new_df.isnull().sum()

TITLE             0
DESCRIPTION       0
BULLET_POINTS     62617
BRAND             8571
BROWSE_NODE_ID    0
dtype: int64

In [ ]:
null_percentage(title_df)

The percentage of null value in TITLE is 0.00048225574435485207
The percentage of null value in BULLET_POINTS is 5.72723477311934
The percentage of null value in BRAND is 1.9544102976758029
There are no null values

In [ ]:
new_df = title_df

In [ ]:
new_df.shape

(2903024, 5)

In [ ]:
new_df[new_df["BULLET_POINTS"].isnull()]

                                                     TITLE  ... BROWSE_NODE_ID
4        Teacher Planner Company A4 6 Lesson Academic T...  ...              4
9        Chapin 1380 Premier Pro 3-Gallon Tri-Poxy Stee...  ...              9
10       Slo-Niacin Polygel Controlled-Release Niacin, ...  ...             10
27                 ALL GLASS AQUARIUM Pine Cabinet 24" Oak  ...             27
30                                      NTE 1151 IC Linear  ...             30
...                                                    ...  ...            ...
2902919  SKENT - Avengers Action Figure Models with LED...  ...             55
2902928  truth eagle Women's Faux Georgette Saree with ...  ...           1052
2902936  Compatible Remote Control for Videocon D2H Dig...  ...            449
2902957  Nature's Elixir Testosterone Booster. 60 Capsules  ...           8766
2903023                        KNG Orange Polo Tshirt (38)  ...           1213

[66793 rows x 5 columns]

In [ ]:
new_df.shape

(2206995, 5)

In [ ]:
new_df = new_df.dropna(subset=["BULLET_POINTS"])
new_df.isnull().sum()

TITLE                4
BULLET_POINTS        0
BRAND             7217
BROWSE_NODE_ID       0
dtype: int64

In [ ]:
new_df.shape

(2196542, 5)

In [ ]:
new_df.nunique()

TITLE             2087552
DESCRIPTION       1296755
BULLET_POINTS     1336122
BRAND              238443
BROWSE_NODE_ID       9704
dtype: int64

In [ ]:
new_df = new_df.dropna(subset=["BRAND"])
new_df.isnull().sum()

TITLE             4
BULLET_POINTS     0
BRAND             0
BROWSE_NODE_ID    0
dtype: int64

In [ ]:
new_df = new_df.dropna(subset=["TITLE"])
new_df.isnull().sum()

TITLE             0
BULLET_POINTS     0
BRAND             0
BROWSE_NODE_ID    0
dtype: int64

In [ ]:
new_df.shape

(2134056, 5)

In [ ]:
new_df.to_csv("nulls_removed.csv",index=False)